<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>My Pet Diary Log In</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">

</head>
<body>
    <header>
        <div class="container-fluid">
            <img style="height: 60px; object-fit: contain"
                src="https://img.insight.co.kr/static/2017/08/07/700/0h2p3f1om359z6j0141k.jpg">
            <span style="font-size:200%">𝕄𝕪 ℙ𝕖𝕥 𝔻𝕚𝕒𝕣𝕪</span>
        </div>
    </header>
</body>
</html>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<div class="container my-3">
    <div class="row my-3">
        <div class="col-12">
            <h4>Come to Join Us!</h4>
        </div>
        <div class="col-8">
            <span style="font-size:15px; color: #dc3545;">서로 다른 비밀번호를 입력했습니다!</span>
        </div>
    </div>
    <form method="post" class="post-form" action="{% url 'log_sign:signup' %}">
        {% csrf_token %}
        {% include "form_errors.html" %}

        <div class="form-group">
            <label for="username">ID</label>
            <input type="text" class="form-control" name="username" id="username" style="width: 400px;"
                value="{{ form.username.value | default_if_none:'' }}">
        </div>
        <div class="form-group">
            <label for="password1">Password</label>
            <input type="password" class="form-control" name="password1" id="password1" style="width: 400px;"
                value="{{ form.password1.value | default_if_none:'' }}">
        </div>
        <div class="form-group">
            <label for="password2">Check Password</label>
            <input type="password" class="form-control" name="password2" id="password2" style="width: 400px;"
                value="{{ form.password2.value | default_if_none:'' }}">
        </div>
        <div class="form-group">
            <label for="petname">Pet Name</label>
            <input type="text" class="form-control" name="petname" id="petname" style="width: 400px;"
                value="{{ form.petname.value | default_if_none:'' }}">
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" name="email" id="email" style="width: 400px;"
                value="{{ form.email.value | default_if_none:'' }}">
        </div>
        <button type="submit" class="btn btn-info mt-3">Sign Up</button>
    </form>
</div>
<title>My Pet Diary Sign Up</title>