{%extends 'bulletin/base.html'%}
{%block content%}

{% comment %} {{ post.update_counter }} {% endcomment %}


    <div class="bulletin_main_body">
        <div class="container">
            <br>
            <h1 class="text-center"><a href="#">📌자유 게시판</a>
                <button type="button" class="btn btn-default pull-right" onclick="location.href='upload/' ">
                    <b>✋글쓰기</b>
                </button>
            </h1>
            <br>
            <table class = "table table-hover table-striped" style="border: 1px solid;">
                <thead>
                    <tr>
                        <th width="50px">번호</th>
                        <th width="200px">제목</th>
                        <th width="100px">글쓴이</th>
                        <th width="150px">시간</th>
                        <th width="50px">조회 수</th>
                    </tr>
                </thead>
                <tbody>
                    {% for post in post_list%}
                    <tr>
                        <td width="50px">{{post.id}}</td>
                        <td width="200px"><a href="./{{post.id}}"><b>{{post.title}}</b></a></td>
                        <td width="100px">{{post.user.username}}</td>
                        <td width="150px">{{post.write_date}}</td>
                        <td width="50px">{{post.view_count}}</td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>

            <hr>
            <div class="pagination">
                {% if post_list.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ post_list.previous_page_number}}">◁</a>
                </li>
                {% endif %}

                {% for page_num in page_range %}
                <li class="page-item">
                    <a class="page-link" href="?page={{page_num}}">
                        {% if current_page == page_num%}
                            <b><u>{{page_num}}</u></b>
                        {% else %}
                            {{page_num}}
                        {% endif %}

                    </a>
                </li>
                {% endfor %}

                {% if post_list.has_next%}
                <li class="page-item">
                    <a class="page-link" href="?page={{ post_list.next_page_number}}">▷</a>
                </li>
                {% endif %}

            </div>
        </div>
    </div>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

{%endblock%}