{%extends 'bulletin/base.html'%}
{%block content%}

<p hidden>{{ post.update_counter }}</p>
<p hidden>{{ post.view_count}}</p>

<div class="main_body">
    <div class="container">
        <br>
        <div>
            <a href="{% url 'bulletin:delete' post.id %}" class="btn btn-default" style="float: right; margin-right: 10px; margin-bottom: 10px">
                <button type="button">삭제</button>
            <a href="{% url 'bulletin:modify' post.id %}" class="btn btn-default" style="float: right; margin-right: 10px; margin-bottom: 10px">
                <button type="button">수정</button>
            </a>
            <button type="button" class="btn btn-default pull-right" onclick="location.href='../' ">
                <b>📜목록</b>
            </button>
            <button id="btn_write" type="button" class="btn btn-default pull-right" onclick="location.href='../upload/' ">
                <b>✋글쓰기</b>
            </button>
        </div>

        <div>
            <br><br>
            <div class="contour"></div>
            <br>
            <b style="font-size:35px">{{post.title}}</b>   
            <a href="#" aria-label="Left Align" style="color:gray; text-decoration-line:underline">
                    작성자 :    
                    {% if post.user.username %}
                        {{post.user.username}}
                    {% else %}
                        알 수 없음
                    {% endif %}              
            </a>
            <div style="height: 0px; background-color: black"></div>
            <p> time: {{post.write_date}}</p>
            <div class="contour"></div>
            <br><br>
            <p>
                {% if not post.content %}
                    내용 없음
                {% else %}
                    {{post.content}}
                {% endif %}
            </p>  
            <br><br><br><br>
        </div>    
    
        <b>댓글</b>
        <div class="contour"></div>
        <div class="container">
            {% for reply in reply_list %}
                <b>{{reply.user.username}}</b>  |  {{reply.content}}
                <br>
            {% endfor %}
        </div>
        <br>
        <div>
            <form method="POST">
                {% csrf_token %}
                <input name="content" type="text" style="width:100%" value="">
                <br>
                {% if user.is_authenticated %}
                    <input type="submit" class="btn btn-basic pull-right" value="저장">
                {% else %}                    
                    <input type="submit" class="btn btn-basic pull-right" value="저장" disabled>
                {% endif %}
        </div>      
    </div>
</div>

{% comment %} <script>
    $('.write_reply').click(function () {
        console.log($(this).prev().val());
        console.log($(this).attr('post'));
        let success = false;
        let content = $(this).prev().val();
        console.log(content);
        let post = Number($(this).attr('post'));
        console.log(post_id)
        console.log({{post.user.id}})

        $.ajax({
            url: "/bulletin/add_reply",
            data: {
                user_id: '{{ user.id }}',
                content: content,
                post_id: post_id
            },
            method: "POST",
            dataType: "json",
            async: false,
            success: function (data){
                alert(data.message);
                success=true
            },
            error:function (request, status, error){
                let data = JSON.parse(request.responseText);
                console.log(data.message);
                alert(data.message);
            }
        });
        console.log(success)
        if(success == true){
            $(this).parent().prev().append('<span class="post_txt"><b> {{ user.username }}</b> '+ content +' </span>');
            $('.write_reply_input').val('');
        }
    });
    </script> {% endcomment %}

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

{%endblock%}